body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #f5f5f5;

}

.nav img {
    width: 80px;
}
.nav {
    background-color: darkorange;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.nav a {
    margin: 15px 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.nav .active {
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.container {
    text-align: center;
    padding: 20px;
   
}
.container img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}

.quote {
    font-weight: bold;
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}
.content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
}
.specials {
    text-align: center;
    padding: 20px;
    background-color: white;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 1200px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */

}


.specials h2 {
    margin-bottom: 10px;
}
.specials img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}
.specials-container,.location-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-image:url(images/backgroud-photo1.jpg); */
}
main {
    background-image: url(images/background-photo2.jpeg);
}
.footer {
    background-color: darkorange;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer div {
    margin: 10px 0;
}

.social-icons img{
    width: 30px;
    margin: 0 10px;
}
.logo2 img {
    width: 70px;
    
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],input[type="email"], textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
}
button {
    background-color: antiquewhite;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    

}
